@charset "utf-8";

    @media screen and(max-width: 767px) {

        .deskmenuWrap {
            display: none;
        }

        .desk {g
            display: none;
        }

        .menuWrap > .subWrap {
            display: none;
        }

        .subWrap .sub {
            display: none;
        }

        li.bold {
            display: none;
        }

        ul.boldsub {
            display: none;
        }

    }

/*        태블릿*/
@media screen and (min-width: 768px) and (max-width: 959px) and (orientation : landscape) {}

/*        저해상도 데스크탑*/
@media screen and (min-width: 960px) and (max-width: 1280px) {}

/*고해상도데스크탑*/
@media screen and (min-width: 1281px) {
    #hd {
        width: 1280px;
        height: 80px;
    }

    .hd1.onMe {
        background: #fff;
        box-sizing: border-box;
        border-bottom: 2px solid #ddd;

    }

    .tnb {
        height: 80px;

    }

    .tnb .logo {
        width: 300px;
        height: 50px;
        background-image: url(./images/logoWhite.svg);
        background-size: contain;

    }

    .desk {
        display: block;

    }

    .imgWrap li {
        background-size: contain;
        height: 1000px;
    }

    .subWrap {
        box-sizing: border-box;
        padding: 50px;
        padding-left: 23.5%;
    }

    .desk.Menu li .menuName.onMe {
        color: #333;
    }

    .subWrap .sub {
        display: block;
        background: none;
        width: 11%;
    }

    .bold {
        font-size: 1.4em;
    }

    .imgVs1 {
        background-image: url(./images/deskbg1.jpg);
    }

    .imgVs2 {
        background-image: url(./images/deskbg2.jpg);
    }

    .imgVs3 {
        background-image: url(./images/deskbg3.jpg);
    }

    .imgVs4 {
        background-image: url(./images/deskbg4.jpg);
    }

    .imgVs5 {
        background-image: url(./images/deskbg5.jpg);
    }


    .boldsub {
        display: none;
    }

    .collaps {
        width: 80px;
        height: 80px;
    }

    .collaps i {
        line-height: 80px;
    }

    .CollMenu {
        background-color: transparent;
    }

    .CollMenu.on {
        width: 100%;
        background-color: none;
        background-image: url(./images/deskCol.png);
        height: 1000px;
        position: absolute;
        background-image: url();
        right: 0;
    }

    .CollMenu.on li {
        background: none;
    }

    .collName {
        background: none;
    }


    .CollMenu.on .menuName {
        color: #ddd;
    }

    .page {
        height: 1080px;
    }


}
